.headingBox {
    display: flex;
    flex-wrap: wrap;
}
.text {
    flex: 1;
    padding: 20px;
}
.image {
    flex: 1;
    padding: 20px;
}
img {
    max-width: 100%;
    height: auto;
}
.arc-container .arc {
    width: 100vw;
    height: calc((100vw / 768) * 72);
}
svg {
    overflow: hidden;
    vertical-align: middle;
}
#wrapper {
    margin-left: 11rem;
    margin-top: 3rem;
}
.ups-component {
    background: linear-gradient(318.8deg, #DFDBD7 -11.42%, #F2F1EF 58.01%);
    position: relative;
    overflow: hidden;
}
p {
    font-size: large;
    line-height: 1.5;
}
#atagStyle2 {
    border: 1.5px solid #0662bb;
    font-weight: 600;
    cursor: pointer;
    background: white;
    color: #0662bb;
}
#atagStyle3 {
    border: 1.5px solid #0662bb;
    font-weight: 600;
    cursor: pointer;
    background: transparent;
    color: #0662bb;
}
.card-deck {
    display: flex;
    justify-content: center;
    position: relative;
    min-height: 1px;
    flex-flow: row;
}
.card-body-content {
    padding: 2rem;
}
#atagStyle {
    border: 1.5px solid #0662bb;
    font-weight: 600;
    background: transparent;
    color: #0662bb;
}
.divider {
    position: relative;
    display: block;
    text-align: left;
    font-size: 1.5em;
    font-weight: 600;
    margin-bottom: 3rem;
}
.divider:after {
    content: '';
    position: absolute;
    height: 4px;
    width: 100%;
    max-width: 70px;
    background: #FFC400;
    top: calc(100% + 12px);
    left: 0;
}
/* .card-deck {
    display: flex;
    justify-content: center;
    position: relative;
    min-height: 1px;
    flex-flow: column;
} */
@media only screen and (max-width: 1023px) and (min-width: 769px) {
    #wrapper {
      margin-left: 0rem !important;
      margin-top: 12rem !important;
  }
  .card-deck {
    display: flex;
    justify-content: center;
    position: relative;
    min-height: 1px;
    flex-flow: column;
}
}
@media (max-width: 768px) { 
    .headingBox {
        display: flex;
        flex-direction: column;
        padding-top: 1.5rem;
        padding-bottom: 2rem;
        z-index: 5;
    }
    #wrapper {
        margin-left: 0rem !important;
        margin-top: 0rem !important;
    }
    .ups-card {
        min-width: 312px;
        max-width: 312px;
        margin: 2rem 0.75rem 0 0.75rem;
        border-radius: 0.25rem;
        box-shadow: 0px 4px 12px -3px rgba(0,0,0,.051), 0px 2px 5px 0px rgba(0,0,0,.141);
        transition: all .35s ease-out;
        cursor: pointer;
        overflow: hidden;
        margin-bottom: 5rem;
    }
    .card-deck {
        display: flex;
        justify-content: center;
        position: relative;
        min-height: 1px;
        flex-flow: column;
    }
}
@media (min-width: 1280px) {
    .ups-card {
        min-width: 384px;
        max-width: 384px;
        margin: 3rem 1rem 0 1rem;
        border-radius: 0.25rem;
        box-shadow: 0px 4px 12px -3px rgba(0,0,0,.051), 0px 2px 5px 0px rgba(0,0,0,.141);
        transition: all .35s ease-out;
        cursor: pointer;
        overflow: hidden;
        margin-bottom: 8rem;
    }
    .authorize-head {
        text-align: center;
        font-size: 3.5rem;
        font-weight: 500;
        color: black;
        margin-top: -30px;
      }
      
      h2:after {
          content: "";
          width: 5rem;
          height: 0.35rem;
          display: flex;
          background: #ffc400;
          margin: 1rem auto 0;
      }
      .headerparagragh {
        font-size: 1.75rem;
        line-height: 1.4;
        color: #121212;
        font-weight: 400;
        text-align: center;
        margin-top: 3rem;
    }
    .paragraphleft {
        margin-right: 5rem;
    }
    #leftTabatag {
        margin-right: 8rem;
    }
    .text {
        margin-left: 5rem;
    }
}
// Changes font of entire page
* {
    font-family: Verdana /* Replace with your custom font */, sans-serif !important; 
    /* Add !important to overwrite all elements */
  }
