<app-header></app-header>
<div class="ups-component">
    <div class="ups-wrap" id="wrapper">
        <div class="ups-wrap_inner">
            <div class="ups-container" >
                <div class="headingBox">
                        <div class="text">
                        <h1 style="font-size: 3.1em !important;">UPS Suppy Chain & Transportation Network</h1>
                        <p class="paragraph" style="color: black !important;max-width: 600px !important;">
                            UPS Client's Service Logistics
                        </p>
                        
                    </div>
                    <div class="image">
                        <img src="https://www.ups.com/assets/resources/webcontent/images/api_homepage_end_user.jpg" style="width: 550px;height: 300px;" alt="UPS End User">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="arc-container">
        <svg xmlns="http://www.w3.org/2000/svg" width="1440" class="arc" height="72" viewBox="0 0 1440 72" fill="none" aria-hidden="true" focusable="false">
          <path d="M-400 176C139.222 -24.794 1028.42 -10.941 1440 13.8751V176L-400 176Z" fill="white"></path>
        </svg>
    </div>
    </div>

    <div class="ups-container">
        <div class="ups-wrap" id="wrapper">
            
    
    <!-- the Tab2 Starts Here -->
    <div class="ups-container">
        <div class="ups-wrap" id="wrapper">
            <div class="ups-wrap_inner">
        <div class="component-header">
            <h2 class="authorize-head">How to Use Our Products</h2>
            <p class="headerparagragh">Combine our APIs to create solutions that meet your business needs</p>
        </div>
           <div class="card ups-card fade-in-up" id="customer-positioning">
              <div class="card-body">
                 <div class="card-body-content fade-in-up-light">
                    <a style = "text-decoration : none; color: black;" routerLink = "/customers" class="card-deck">
                        <h3 class="drawerHeader">View Customers</h3>
                        <p class="drawerParagraph">See all our customers that are not using UPS for shipping!</p>
                    </a>
              </div>
           </div>
        </div>
        </div>
        </div>
        </div>
    </div>
   
    
    <div class="ups-component">
        <div class="ups-wrap" id="wrapper">
            <div class="ups-wrap_inner">
                <div class="ups-container" >
                    <div class="headingBox">
                        <div class="text">
                            <div class="basicContent">
                                <div style="border-right: 5px solid #FFC400;padding-right:15px; height: auto;">
                                    <h3>
                                        <span class="divider">Looking For A Plug and Play Solution</span>
                                    </h3>
                                    <p>Minimize your development time with our certified business solutions - from E-Commerce to Multi-Channel Order Management - developed by industry leaders with your needs in mind</p>
                                    <div class="component-header" style="float: left;">
                                        <a class="ups-cta ups-cta-tertiary ups-analytics" id="atagStyle3"
                                         href="https://www.ups.com/us/en/business-solutions/expand-your-online-business/ups-ready.page" target="_blank">
                                          View Providers
                                            <span class="ups-readerTxt">, This will open in a new window</span><span class="icon ups-icon-right-arrow" aria-hidden="true"></span>
                                          </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                       <div class="image">
                        <div class="basicContent">
                            <div>
                                <h3 align = "left">
                                    <span class="divider">Interested in Marketing Your Solution?</span>
                                </h3>
                                <p align ="left" class="paragraphleft">Are you a solution provider seeking access to premium APIs, specialized tech support, and increased customer exposure? UPS offers enhanced marketing, support & visibility to business solution providers through the Ready Partner Program</p>
                                    <div class="component-header" id="leftTabatag" style="float: right;">
                                        <a class="ups-cta ups-cta-tertiary ups-analytics" id="atagStyle3"
                                     href="https://www.ups.com/forms/e-mail/ready_partner?loc=en_US" target="_blank">
                                     Become a Provider
                                        <span class="ups-readerTxt">, This will open in a new window</span><span class="icon ups-icon-right-arrow" aria-hidden="true"></span>
                                      </a>
                                    </div>
                            </div>
                        </div>
                       </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
