.header {
    margin-bottom: 10px;
    margin-top: 10px;
}
.header-button {
    margin-left: 20px;
    margin-right: 20px;
    text-decoration: none;
    font-family: Tahoma, Helvetica, arial, sans-serif;
    font-size: 20px;
    color: black;
}